@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absCenterResponsive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600PX:     Phone
600 - 900PX:   Tablet portrait
900 - 1200px:  Tablet lanscape
[1200 - 1800] is where our normal styles apply
1800px + :     Big desktop

$breakpoint arguement choices:
- phone 
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      //600px / 16 
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px / 16
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      //1200px / 16
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px / 16
      @content;
    }
  }
}